body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

/* -------------------------------------------contain Section------------------------------------------- */

.order_section {

	margin-top: 90px;
	margin-bottom: 50px;
}

.restaurant_info{
	width: 330px;
	margin: 0px 0px 20px 15px;
}

.restaurant_info h5{
    font-family: 'Andika', sans-serif;
    color: #3f4040;
    font-size: 25px;
	font-weight: bold;
	margin-bottom: 15px;
}

.restaurant_info p{    
	margin-bottom: 10px;
}

.fa-map-marker, .fa-phone, .fa-clock-o {
    font-size: 17px;
    color: #ad6f23;
	margin-right: 10px;
	margin-left: 15px;
}

.order_section h2 {
	text-align: center;
	padding-top: 50px;
	margin: 0px;
	padding-bottom: 30px;
	font-family: 'Mansalva', cursive;
	font-size: 50px;
	background: #ad6f23;
	background: linear-gradient(to right, #c6812d, #ad6f23, #ad6f23);
	background-clip: border-box;
	-webkit-background-clip: text;
	color: transparent;
}

.table_container {
	display: flex;
	flex-direction: column;
}

.table_container:nth-child(2), .table_container:nth-child(3)  {
	align-items: flex-end;
}

.table {
	text-align: start;
}

.table-hover {
	border-bottom: 2px solid #454d55;
	margin-bottom: 0;
}

.table td,
.table th {
	padding: .50rem;
	vertical-align: middle;
	border-top: none;

}

.table-hover tbody tr:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.4);
}

.Menu_list {
	list-style: none;
	margin: 0;
}

.Menu_list li {
	margin-left: 20px;
	padding: 5px;
}

.Total_table {
	width: 30%;
	border: 1px solid #dee2e6;
	border-top: none;
	border-bottom: 2px solid #454d55;
}

.text-right {
	padding-right: 20px !important;
}

.date_time {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.date{
	width:200px;
}

.date input{
	text-align: center;
}

.btn_validate,
.btn_Cancel {
	padding: 10px 20px 10px;
	border-radius: 4px;
	font-size: 17px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 24px;
	cursor: pointer;
	outline: none;
}

.btn_validate {
	color: #fff;
	background-color: #454d55;
	border: 1px solid #343a40;
}

.btn_validate:hover {
	background-color: transparent;
	color: #343a40;
}

.btn_Cancel {
	color: #fff;
	background-color: #dc3545;
	border: 1px solid #bd2130;
	margin-right: 10px;
}

.btn_Cancel:hover {
	background-color: transparent;
	color: #bd2130;
}

/* -----------------------------------Media------------------------------------- */
@media screen and (max-width: 991px) {
	.date_time p{
		width: 190px;
	}

}

@media screen and (max-width: 550px) {
	.table_section h2 {
		padding-top: 0;
		padding-bottom: 30px;
		font-size: 45px;
	}

	body {
		font-size: 0.8rem !important;
	}


	.order_section h2 {
	padding-top: 30px;
	}

	.restaurant_info h5{
    font-size: 20px;
    }

	.Total_table {
		width: 50%;
	}


	.date{
		width:180px;
	}

	.btn_validate,
	.btn_Cancel {
		padding: 5px 15px 5px;
		border-radius: 4px;
		font-size: 15px;
		font-weight: bold;
		line-height: 22px;
	}
}

@media screen and (max-width: 380px) {
	.Total_table {
		width: 60%;
	}

}

