html,body {
  padding: 0;
  margin: 0;
  
}

.contain {
  background: url('/images/background/background_recapitulatif.png') no-repeat center;
  -webkit-background-size: cover;
  background-size: cover; 
}

header img {
  width: 400px;
}

.contain{

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.infos{
  width: 90%;
  height: 250px;
}


.infos h1{
  text-align: center;
  font-size: 28px;
  margin-top: 30px;
}

.infos span{
  display: block;
  text-align: right;
  margin-top: 30px;
  font-size: 16px;
}

.infos .border-cadrant{
  width: 315px;
  height: 113px;
  border: 8px solid #70706ed3;
  border-radius: 0px 17px 0px 17px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.infos .cadrant {
  background: #40403f;
  box-shadow: 1px 1px 12px #40403f;
  width: 300px;
  height: 97px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  
}

.infos .cadrant p {
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 12px 0px;
  font-size: 16px;
}

.text-order-valid{
  font-size: 16px;
  text-align: left;
  margin: 30px 0px;
}

.restaurant{
  display: block;
  text-align: center;
}

.infos img{
  height: 200px;
}

.order{
  width: 90%;
  height: 450px;
  display: block;
  text-align: center;
}

.order h2{
  font-size: 28px;
}

.table-order{
  margin-top: 340px;
  font-size: 16px;
}

table, td, th {  
  text-align: left;
}

table {
  width: 100%;
}

th, td {
  padding: 10px;
}

.pick-up{
  width: 90%;
  height: 370px;
  margin-top: 280px;
  text-align: center;
}

.pick-up h3{
  font-size: 16px;
  font-weight: normal;
}

.pick-up .border-cadrant{
  width: 315px;
  height: 66px;
  border: 8px solid #70706ed3;
  border-radius: 0px 17px 0px 17px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.pick-up .cadrant {
  background: #40403f;
  box-shadow: 1px 1px 12px #40403f;
  width: 300px;
  height: 51px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  
}

.pick-up .cadrant p {
  color: white;
  font-weight: bold;
  text-align: center;
  margin: 12px 0px;
  font-size: 16px;
}

.pick-up .adress {
  margin: 30px;
  font-size: 16px;
}

.pick-up .secondary-text {
  font-size: 14px;
  margin-top: 30px;
}

hr{
  border: 1px dashed #cb832a;
  width: 100%;
}

@media only screen and (max-width: 780px) {

  .retrait{
    margin-top: 250px;
    height: 350px;
  }

  header img {
    width: 300px;
  }

  .infos span, .text-order-valid, .table-order, .pick-up p{
    font-size: 13px;
  }

  .infos h1, .order h2 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 530px) {

  th, td {
    padding: 8px;
}

  .pick-up {
    width: 90%;
    height: 350px;
    margin-top: 230px;
    text-align: center;
}

  .pick-up .adress{
    margin: 25px;
  }

  .pick-up .text-borne p{
    font-size: 10px;
  }
  
  .pick-up .secondary-text {
    font-size: 14px;
    margin-top: 18px;
  }
}

@media only screen and (max-width: 400px) {
  .pick-up {
    margin-top: 200px;
    height: 320px;
    margin-bottom: 10px;
  }

  .pick-up .adress {
    margin: 12px;
  }

  .pick-up .border-cadrant {
    margin-top: 15px;
  }
}