body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* -------------------------------------------Header Section------------------------------------------- */

.header_main {
  margin: 20px 10%;
  position: relative;
}

.header_main {
  margin: 20px 10%;
  position: absolute;
  top: -60px;
  left: -250px;
  z-index: -3;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  border: 20px solid #f5f5f5;
}

.header_section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  margin-top: 130px;
  margin-bottom: 50px
}

.left_side {
  max-width: 550px;
  padding: 20px;
  margin-top: 30px;
}

.left_side h1 {
  font-family: 'Mansalva', cursive;
  font-size: 60px;
  background: #ad6f23;
  background: linear-gradient(to right, #c6812d, #ad6f23, #ad6f23);
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1.7;
}

.left_side p {
  width: 85%;
  font-family: 'Andika', sans-serif;
  font-size: 1.1em;
  line-height: 25px;
  color: #3f4040;
  margin-top: 20px;
  margin-bottom: .5rem;
}

.left_side button {
  padding: 10px 15px;
  margin: 20px 15px 0 0;
}

.info_btn, .payement_btn {
  border: 2px solid #ad6f23;
  outline: none;
  cursor: pointer;
  background: none;
  color: #ad6f23;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 25px;
}

.info_btn:hover, .payement_btn:hover {
  color: white;
  background: #EC6953;
  background: -webkit-linear-gradient(to right, #c6812d, #ad6f23, #ad6f23);
  background: linear-gradient(to right, #c6812d, #ad6f23, #ad6f23);
}

.opinion_star {
  margin-top: 20px;
}

.opinion_star i {
  font-size: 30px;
  padding: 3px;
  color: #f57900;
}

.right_side {
  margin: 30px;
  max-width: 760px;
}

.rectangle_circle {
  display: flex;
  justify-content: space-between;
}

.right_side_img img {
  width: 720px;
  height:480px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  z-index: 2;
}

.rectangle {
  position: absolute;
  margin-top: -80px;
  margin-left: 50px;
  width: 525px;
  height: 625px;
  z-index: 1;
  background: #3f4040;
  background: -webkit-linear-gradient(to right top, #3f4040, #6b6c6c, #3f4040);
  background: linear-gradient(to right top, #3f4040, #6b6c6c, #3f4040);
}

.circle {
  position: absolute;
  margin-top: -52px;
  margin-left: 670px;
  z-index: 1;
  width: 120px;
  height: 120px;
  background-image: radial-gradient(circle at 3px 3px, #ec222a 3px, transparent 0);
  background-size: 20px 20px;
}

/* -------------------------------------------Modal information------------------------------------------- */


.infoText{
 font-size: 15px;
margin-bottom: 5px;
}

.informations_modal{
	display: flex;
	align-items: baseline;
}

.fa-map-marker, .fa-phone, .fa-clock-o{
	font-size: 17px;
	color: #ad6f23;
	margin-right: 10px;
}

.time_header {
    text-align:center;
    padding: 0.5rem 0.5rem;
}

.time_header h3{
	ont-family: 'Andika', sans-serif;
	font-weight: bold;
	color: #ad6f23;
	font-size: 19px;
	margin-top: 15px;
}

.opning_time{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
}

.table_container{
  display: flex;
  flex-direction: column;
  font-family: 'Andika', sans-serif;
  }
  
.table_container h2{
  font-family: 'Andika', sans-serif;
  font-size: 23px;
  color: #3f4040;
  margin-bottom: 30px;
  font-weight: bold;
}

.route_link_container{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.route_link a{
  font-size: 1em!important;
  font-weight:bold!important; 
  color: #3f4040!important; 
}

.fa-map-o, .fa-car{
	font-size: 20px;
	color: #ad6f23;
	margin-right: 10px;
}
  
  tainer div a{
  color: #3f4040;
  font-family: 'Andika', sans-serif;
  font-size: 1.2em;
  }

.table_elements{
  text-align: center;
  border-collapse: collapse;
  margin: 0px 0;
  font-size: 16px;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;

}

.table_elements thead tr{
  background-color: #fff;
  color: #ad6f23;
  text-align: left;
  border-bottom: 1px solid #3f4040;
  border-top: 2px solid #3f4040;
}

.table_elements th{
  text-align: center;
  font-size: 18px;
}

.table_elements th,
.table_elements td{
  padding: 10px 13px;
  
}

.table_elements tbody tr{
  border-bottom: 1px solid #dddddd;
}

.time_element:hover{
  background: #e9b96e;
}

.table_elements tbody tr:last-of-type{
  border-bottom: 2px solid #3f4040;
}



/* -------------------------------------------Modal payement------------------------------------------- */
.modal-title {
  font-family: 'Andika', sans-serif;
  font-weight: bold;
  color: #3f4040;
  font-size: 23px;
  width: 100vw;
}

.payement_mode {
  display: flex;
  justify-content: space-around;
}

.payement_mode p {
  margin-top: 10px;
  font-family: 'Andika', sans-serif;
  font-weight: bold;
  color: #3f4040;
  font-size: 15px;
}

.credit-card {
  width: 90px;
}

.money {
  width: 60px;
  margin-left: -25px;
}

.btn-default {
  color: #fff;
  background: #3f4040;
  background: -webkit-linear-gradient(to right top, #3f4040, #6b6c6c, #3f4040);
  background: linear-gradient(to right top, #3f4040, #6b6c6c, #3f4040);
  border-color: #000;
}

.btn-default:hover {
  color: #fff;
  background: #1c1d1d;
  background: -webkit-linear-gradient(to right top, #1c1d1d, #4a4b4b, #1c1d1d);
  background: linear-gradient(to right top, #1c1d1d, #4a4b4b, #1c1d1d);
  border-color: #000;
}

/* -------------------------------------------Menus Section------------------------------------------- */

.formule {
  margin-bottom: 50px
}

.formule_section {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.formule_img {
  width: 135px;
  padding: 8px;
}

.formule_section h2 {
  margin: 0px;
  margin-left: 20px;
  padding-top: 80px;
  font-family: 'Mansalva', cursive;
  font-size: 50px;
  background: #ad6f23;
  background: linear-gradient(to right, #c6812d, #ad6f23, #ad6f23);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}

.menu_tab {
  width: auto;
  margin: 0 auto;
  height: 45px;
}

.nav {
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav_item a {
  font-family: 'Andika', sans-serif;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.fa-caret-left, .fa-caret-right {
  font-size: 35px;
  color: #AD6F23
;
}

.btn-menu {
  background: #eeeeee;
  background: linear-gradient(#f3f3f3, #eeeeee 50%, #f3f3f3);
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 5px 11.25px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  margin: 5px;
}

.menu_tab .nav-item.show .btn-menu,
.btn-menu.active {
  color: white;
  background: #ad6f23;
  background: linear-gradient(to right, #c6812d, #ad6f23, #ad6f23);
  border: 2px solid #9d641e;
}

#myTabContent {
  margin-top: 50px;
}

.menu_container {
  margin-top: 40px;
}

.single_menu_list {
  display: flex;
  margin-bottom: 70px;
  text-decoration: none !important;
  outline: none;
}

.menu_content {
  margin-left: 20px;
  margin-right: 20px;
}

.single_menu_list img {
  max-width: 150px;
  left: 0px;
  top: 0;
  border: 1px solid #ddd;
  padding: 3px;
  border-radius: 50%;
  transition: 0.4s;
}

.single_menu_list:hover img {
  border-radius: 0;
  transition: 0.4s;
}

.menu_content h4 {
  font-family: 'Andika', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #3f4040;
  border-bottom: 1px dashed #9b641f;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.menu_content h4 span {
  font-family: 'Andika', sans-serif;
  font-size: 20px;
  float: right;
  font-weight: bold;
  background: linear-gradient(to right, #c6812d, #ad6f23, #ad6f23);
  background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  font-style: italic;
}

.menu_content p {
  font-size: 14px;
  color: #585959;
}

.fa-arrow-alt-circle-up {
  font-size: 40px;
  background: linear-gradient(to right, #c6812d, #ad6f23, #ad6f23);
  background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}

.fa-arrow-alt-circle-up:hover {
  font-size: 45px;
  background: linear-gradient(to right, #7f531d, #bd7f34, #7f531d);
  background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}

/* -------------------------------------------Media Section------------------------------------------- */

@media only screen and (max-width: 1330px) {
  .header_section {
    margin-bottom: 0px
  }
}

@media only screen and (max-width: 1110px) {
  .header_section {
    margin-top: 120px;
  }
}

@media only screen and (max-width: 1050px) {
  .header_section {
    margin-top: 100px;
  }

  .right_side_img img {
    width: 500px;
    height:333.333px;
  }

  .rectangle {
    width: 327px;
    height: 450px;
  }

  .circle {
    margin-top: -35px;
    margin-left: 458px;
    width: 90px;
    height: 90px;
    background-size: 18px 18px;
  }
  
  .left_side {
    margin-top: 0px;
}
}

@media only screen and (max-width: 985px) {
  .formule_section {
    margin-bottom: 30px;
    } 
    
  .menu_container {
    margin-top: 0px;
  }

  #myTabContent {
    margin-top: 35px;
  }

  .single_menu_list {
    display: flex;
    margin-bottom: 30px;
  }

  .menu_content {
    margin-right: 0px;
  }

  .single_menu_list img {
    max-width: 120px;
  }

  .menu_content h4, .menu_content h4 span {
    font-size: 16px;
  }

  .menu_content p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 760px) {
  .header_section {
    margin-top: 90px;
  }

  .left_side {
    margin-top: 0px;
  }

  .left_side h1 {
    font-size: 40px;
  }

  .left_side p {
    width: 90%;
    font-size: 1em;
  }

.opinion_star i {
    font-size: 25px;
}

  .right_side_img img {
    width: 400px;
    height: 266px;
  }

  .rectangle {
    width: 255px;
    height: 380px;
  }

  .circle {
    margin-top: -30px;
    margin-left: 364px;
    width: 70px;
    height: 70px;
    background-size: 15px 15px;
    background-image: radial-gradient(circle at 2.5px 2.5px, #ec222a 2.5px, transparent 0);
  }
  
  .table_elements{
    min-width: 400px;
  }
}

@media only screen and (max-width: 560px) {
  .header_section {
    margin-top: 80px;
  }


  .right_side_img img {
    width: 340px;
    height: 225px;
  }

  .rectangle {
    width: 235px;
    height: 340px;
    margin-left: 30px;
  }

  .circle {
    margin-top: -21px;
    margin-left: 315px;
    width: 50px;
    height: 50px;
    background-size: 10px 10px;
  }

  .left_side {
    max-width: 450px;
    padding: 20px;
    padding-top: 0px;
  }

  .formule_section h2 {
    font-size: 40px;
    margin-left: 0px;
  }

  .formule_img {
    padding: 18px;
  }

  .single_menu_list img {
    max-width: 100px;
  }

  .nav-item a {
    font-size: 0.9em;
  }

  .btn-menu {
    padding: 3px 6px;
  }
}

@media only screen and (max-width: 450px) {
  .left_side h1 {
    font-size: 30px;
  }

  .left_side p {
    width: 100%;
    font-size: 1em;
  }

  .right_side_img img {
    width: 300px;
    height: 200px;
  }

  .rectangle {
    width: 210px;
    height: 310px;
    margin-left: 25px;
  }

  .circle {
    margin-top: -20px;
    margin-left: 273px;
    width: 50px;
    height: 50px;
    background-size: 10px 10px;
  }

  .left_side {
    max-width: 370px;
    padding-top: 10px;
  }

  .left_side button {
    padding: 10px 10px;
    margin: 13px 15px 0 0;
  }
  
  .opinion_star i {
    font-size: 21px;
  }

  .table_elements{
    min-width: 300px;
  }

  .info_btn, .payement_btn {
    font-size: 13.5px;
    font-weight: bolder;
  }

  .payement_mode p {
    font-size: 12px;
  }

  .credit-card {
    width: 70px;
  }

  .money {
    width: 50px;
    margin-left: -25px;
  }

  .formule_section h2 {
    font-size: 30px;
  }

  .formule_img {
    width: 126px;
  }
  
  .route_link a{
  font-size: 14px!important;
}
}