* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------------------------------Navbar------------------------------------- */

.start-header {
  opacity: 1;
  transform: translateY(0);
  padding: 10px 0;
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  padding: 5px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
  height: 28px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar {
  padding: 0;
}

.navbar-brand img {
  height: 52px;
  width: auto;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #000;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #000;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
  top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.nav-item:hover .nav-link {
  color: #c33332 !important;
}

.nav-item.active .nav-link {
  color: #777 !important;
}

.nav-link {
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
  /* display: flex!important;
  align-items: flex-start!important; */
  color: #212121 !important;
  font-weight: 700;
  transition: all 200ms linear;
}

/* .fa-sort-down{
  margin-left: 5px;
} */

.nav-item:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #c33332;
  opacity: 0;
  transition: all 250ms linear;
}

.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}

.nav-item.active:hover:after {
  opacity: 0;
}

.nav-item:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #c33332;
  opacity: 0;
  transition: all 250ms linear;
}

.nav-item:hover:before {
  top: 0;
  opacity: 1;
}

.nav-item.active:hover:before {
  opacity: 0;
}

.nav-item {
  position: relative;
  transition: all 250ms linear;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
  padding: 25px 0px 10px 0px;
  font-family: 'Andika', sans-serif;
  color: #3f4040;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.navBar {
  width: 96%;
}

.navbar-default {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  padding: 0;
  margin: 0;
}

.dropdown-item {
    padding: 0.25rem 15px;
}

.fa-address-card, .fa-inbox, .fa-gratipay, .fa-sign-out-alt{
  margin-right: 5px;
}

.connexion{
  margin-right: 20px!important;
}
/* -----------------------------------Footer------------------------------------- */

.rowFooter_2 {
  padding: 0;
  margin: 0
}

.footer {
  background-color: #3f4040;
}

.footer {
  position: relative;
  color: #fff;
  padding: 55px 0 40px;
}

.footer h5 {
  font-size: 19px;
  font-family: 'Andika', sans-serif;
  color: #bd833d;
  position: relative;
  padding-bottom: 5px;
}

.footer p {
  width: 200px;
}

.address {
  line-height: 1.5em;
}

.footer ul {
  list-style: none;
  line-height: 1.8em;
  padding-left: 0px;
}

.footer ul a {
  color: #fff;
}

.footer ul a:hover {
  color: #f5cb76;
  text-decoration: none;
}

.footer-one, .footer-two, .footer-three, .footer-four {
  display: flex;
  justify-content: center
}

.block-footer {
  width: 220px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

/* Social Icons */
.social-icons {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.social {
  margin: 7px 7px 7px 0px;
  color: #fff;
}

.photoLogoFooter {
  display: flex;
  justify-content: center;
}

.photoLogoFooter img {
  max-width: 220px;
  max-height: 80px;
}

.photoAppFooter {
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.photoAppFooter img {
  width: 150px;
  padding: 5px;
}

.rowFooter_1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}

#social-fb:hover {
  color: #3B5998;
  transition: all .25s;
}

#social-tw:hover {
  color: #4099FF;
  transition: all .25s;
}

#social-in:hover {
  color: #e4405f;
  transition: all .25s;
}

#social-em:hover {
  color: #f39c12;
  transition: all .25s;
}

.coordinate_logo {
  width: 15px;
  margin-right: 10px;
}

/* -----------------------------------Media------------------------------------- */

@media (max-width : 1199px) {
  .footer {
    padding: 5px 0;
  }

  .col-sm-12 {
    margin-bottom: 30px;
  }

  .photoLogoFooter {
    margin-top: 15px;
  }

  .rowFooter_1 {
    display: flex;
    flex-direction: column
  }
}

@media (max-width : 1112px) {
  .navbar-default {
    letter-spacing: 0px;
    font-size: 15px;
    min-height: 70px;
  }
}

@media (max-width: 767px) {
  .navBar {
    width: 92%;
  }

  h1 {
    font-size: 38px;
  }

  .navbar-nav {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
  }

  .nav-item:before, .nav-item:after {
    left: 0;
    width: 100%;
  }

  .nav-item {
    margin-bottom: 15px
  }

  .dropdown-toggle::after {
    position: absolute;
    display: block;
    top: 10px;
    left: -23px;
    width: 1px;
    height: 11px;
    content: "";
    border: none;
    background-color: #000;
    vertical-align: 0;
    transition: all 200ms linear;
  }

  .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
    opacity: 0;
  }

  .dropdown-menu {
    padding: 0 !important;
    background-color: transparent;
    box-shadow: none;
    transition: all 200ms linear;
  }

  .dropdown-toggle[aria-expanded="true"]+.dropdown-menu {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }

  body.dark .nav-item::before {
    background-color: #fff;
  }

  body.dark .dropdown-toggle::after {
    background-color: #fff;
  }

  body.dark .dropdown-menu {
    background-color: transparent;
    box-shadow: none;
  }
}