@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Overpass+Mono:600,700');
 @import url('https://fonts.googleapis.com/css?family=Itim&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
 }
 
/* -------------------------------------------home Section-------------------------------------------*/ 


body {
	 overflow-x: hidden;
}
/* GLOBAL */
h2 {
	margin-top: 0;
}

/* HEADER */
 .homesponsor {
	 background: linear-gradient(to bottom, rgba(0, 0, 0, .1), transparent), url(/images/fondecransponsor.jpg) no-repeat center center;
	 background-size: cover;
	 background-attachment: fixed;
	 display: flex;
	 flex-direction: column;
}

 .homesponsor .center {
	 line-height: 0;
	 margin: auto;
	 text-align: center;
	 color: #fff;
}
 .homesponsor .center h1 {
	font-family: 'Alex Brush', cursive !important;
	color: #fff;
	font-size: 7em;
	text-shadow: 3px 5px 2px #272727;
	
}

.homesponsor .center h2 {
	 text-transform: uppercase;
	 letter-spacing: 5px;
	 font-size: 3em;
	 margin-top: -40px;
	 font-family: 'Itim', cursive;
	 text-shadow: 3px 5px 2px #272727;
	 color: #FFF;
}

.bordercercle  {
	border: 6px solid rgba(65, 65, 65, 1);
	border-radius: 50%;
	width: 500px;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px;
	}

.cercledevenezpartenaire {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(96, 96, 96,0.6);
	border-radius: 50%;
	width: 450px;
	height: 450px;

	}
	
#slidercontainer{
	
	margin: 0px;
	
}

.titrecarousel texth2{
	text-align: center;
	margin: 80px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 400;
	line-height: 1.5;
	color: #666;
	}


 .imagecarousel1{
	width: 636px;
	height: 500px;
	background: rgb(212, 212, 212); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
  .imagecarousel2{
	width: 635px;
	height: 500px;
	background:rgb(144, 144, 144); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
  .imagecarousel3{
	width: 636px;
	height: 500px;
	background: rgb(0, 0, 0); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
 .imagecarousel4{
	width: 636px;
	height: 500px;
	background: rgb(212, 212, 212); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
 .imagecarousel5{
	width: 635px;
	height: 500px;
	background: rgb(144, 144, 144); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
 .imagecarousel6{
	width: 636px;
	height: 500px;
	background: rgb(0, 0, 0); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
 .imgcarouselsponsor{ 
	height: 130px;
    margin-left: auto;
    margin-right: auto;
    width: 23%;
    position: relative;
    bottom: 90px;
    display: flex;
    margin-top: 60px;
	
 }
 
 .textecarousel {
	text-align: center;
	font-size: 25px;
	color: white;
	}
 
 .hrcarousel{
 	display: block;
	border-top: 5px solid #ffffff;
	margin: 0;
	padding: 0;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
 }
 
 .uk-dotnav > .uk-active > *{
 
 background-color: black;

 
 }
 
 .formulaire{
	
	max-width: 800px;
	height: auto;
	background: transparent;
	background-size:100%;
	margin: 50px auto;
	box-sizing: border-box;
	padding: 40px;
}

p{
	text-align: center;
	letter-spacing: 1px;
	font-size: 45px;
	margin-bottom: 20px;
}

.input, .commentaires .area {
	
	width: 100%;
	padding: 20px;
	box-sizing: border-box;;
	margin-bottom: 25px;
	border: 2px solid rgba(55, 59, 77, 1);
	font-size: 14px;
	border-radius: 5px;
	outline: none;
	transition: all 0.5s;
}

.identite .input, .contact .input, .localisation .input {
	
	width: 48%;
	float: left;
	margin-right: 4%;
}

.identite .input:last-child, .contact .input:last-child, .localisation .input:last-child {
	
	margin-right: 0;
}

.commentaires .area{
	
	height: 200px;
}

.input:focus, .commentaires .area:focus{
	
	border: 2px solid #ee8514;
}

.envoyer{
	
	width: 100%;
	text-align: center;
}

.envoyer .boutonformulaire{
	
	background: rgb(242, 139, 29);
	padding: 12px 85px;
	font-size: 19px;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 5px;
}

::-webkit-input-placeholder{
	
	font-family: 'oswald';
	color: black;
}

/* MEDIA */

@media screen and (max-width: 1030px) {

	.homesponsor .center h1 {
		 font-size: 5em;		 
	}
	 .homesponsor .center h2 {
		 font-size: 3em;
		 margin-top: -20px;
	}
	
	.bordercercle  {
	border: 6px solid rgba(65, 65, 65, 1);
	border-radius: 50%;
	width: 400px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	}

.cercledevenezpartenaire {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(96, 96, 96,0.6);
	border-radius: 50%;
	width: 350px;
	height: 350px;

	}
	
	.imagecarousel1{
	width: 1030px;
	height: 500px;
	background: rgb(212, 212, 212); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
  .imagecarousel2{
	width: 1030px;
	height: 500px;
	background:rgb(144, 144, 144); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
  .imagecarousel3{
	width: 1030px;
	height: 500px;
	background: rgb(0, 0, 0); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
 .imagecarousel4{
	width: 1030px;
	height: 500px;
	background: rgb(212, 212, 212); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
 .imagecarousel5{
	width: 1030px;
	height: 500px;
	background: rgb(144, 144, 144); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
 .imagecarousel6{
	width: 1030px;
	height: 500px;
	background: rgb(0, 0, 0); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }

	
	
}

@media screen and (max-width: 850px) {

	.homesponsor .center h1 {
		 font-size: 4em;		 
	}
	 .homesponsor .center h2 {
		 font-size: 2em;
		 margin-top: -20px;
	}
	
		.bordercercle  {
	border: 6px solid rgba(65, 65, 65, 1);
	border-radius: 50%;
	width: 400px;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	}

.cercledevenezpartenaire {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(96, 96, 96,0.6);
	border-radius: 50%;
	width: 350px;
	height: 350px;

	}
	
	.imagecarousel1{
	width: 840px;
	height: 500px;
	background: rgb(212, 212, 212); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
  .imagecarousel2{
	width: 840px;
	height: 500px;
	background:rgb(144, 144, 144); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
  .imagecarousel3{
	width: 840px;
	height: 500px;
	background: rgb(0, 0, 0); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
 .imagecarousel4{
	width: 840px;
	height: 500px;
	background: rgb(212, 212, 212); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
 .imagecarousel5{
	width: 840px;
	height: 500px;
	background: rgb(144, 144, 144); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
 .imagecarousel6{
	width: 840px;
	height: 500px;
	background: rgb(0, 0, 0); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }

	
	
}

@media screen and (max-width: 640px) {

	.homesponsor .center h1 {
		 font-size: 4em;		 
	}
	 .homesponsor .center h2 {
		 font-size: 1em;
		 margin-top: -10px;
	}
	
	#slidercontainer{
	
	margin:0px;
	}
	
	.imagecarousel1{
	width: 640px;
	height: 500px;
	background: rgb(212, 212, 212); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
  .imagecarousel2{
	width: 640px;
	height: 500px;
	background:rgb(144, 144, 144); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
  .imagecarousel3{
	width: 640px;
	height: 500px;
	background: rgb(0, 0, 0); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
 .imagecarousel4{
	width: 640px;
	height: 500px;
	background: rgb(212, 212, 212); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
 .imagecarousel5{
	width: 640px;
	height: 500px;
	background: rgb(144, 144, 144); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
 .imagecarousel6{
	width: 640px;
	height: 500px;
	background: rgb(0, 0, 0); 
/* 	margin-left: 35px; */
/* 	margin-right: 35px; */
/* 	border-bottom-left-radius: 20px 20px; */
/* 	border-top-right-radius: 20px 20px; */
/* 	border-bottom-right-radius: 20px 20px; */
/* 	border-top-left-radius: 20px 20px; */
 
 }
 
 
 .bordercercle  {
	border: 6px solid rgba(65, 65, 65, 1);
	border-radius: 50%;
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	}

.cercledevenezpartenaire {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(96, 96, 96,0.6);
	border-radius: 50%;
	width: 250px;
	height: 250px;

	}
	
	.identite .input, .contact .input, .localisation .input {
	
	margin-right: 10px;
width: 100%;
}

.identite .input:last-child, .contact .input:last-child, .localisation .input:last-child {
	
margin-right: 10px;
width: 100%;
}
	
	
}

/* ANIMATIONS */

 .boostezcommerce h2   {
	transform: scale(2);
	opacity: 0;
	animation: fade 0.5s forwards;
	text-align: center;
	text-align: center;
	letter-spacing: 1px;
	font-size: 45px;
	margin-bottom: 20px;
	}
 .center h2 {
	 transform: scale(2);
	 opacity: 0;
	 animation: fade 0.5s forwards;
}
 .center h1 {
	 transform: translateY(40px);
	 opacity: 0;
	 animation: fadeUp 0.5s forwards;
	 animation-delay: 0.3s;
}

 @keyframes fadeUp {
	 0% {
		 opacity: 0;
		 transform: translateY(40px);
	}
	 100% {
		 opacity: 1;
		 transform: translateY(0);
	}
}
 @keyframes fade {
	 0% {
		 transform: scale(2);
		 opacity: 0;
	}
	 100% {
		 transform: scale(1);
		 opacity: 1; 
	}
}
 @keyframes fadeDown {
	 0% {
		 opacity: 0;
		 transform: translateY(-40px);
	}
	 100% {
		 opacity: 1;
		 transform: translateY(0);
	}
}
 @keyframes grow {
	 0% {
		 opacity: 0;
		 width: 0%;
	}
	 50% {
		 opacity: 0.5;
	}
	 100% {
		 opacity: 1;
		 width: 40%;
	}
}
