* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: 'Roboto', sans-serif;
}

.restaurant_list {
  font-family: 'Mansalva', cursive;
  font-size: 3.5em;
  text-align: center;
  margin-top: 130px;
  background: #ad6f23;
  background: linear-gradient(to right, #c6812d, #ad6f23, #ad6f23);
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
}

.wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.href-card {
  text-decoration: none;
}

.card {
  margin-left: 15px;
  margin-bottom: 50px;
  cursor: default;
  position: relative;
  border-radius: 10px;
  width: 330px;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2)
}

.card-header, .card-header img {
  width: 328px;
  height: 220px;
  border-radius: 6px 6px 0 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.card-body-header-category {
  border-top-right-radius: 5px;
  font-family: 'Andika', sans-serif;
  background-color: #EF5A31D9;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}

.card-body-header-category {
  position: absolute;
  font-size: 14px;
  top: -31px;
  left: 0;
  padding: 9px 10px;
  line-height: 13px;
}
.card-header{
	padding:0;
}

.card-header-date {
  margin: -211px -0 0 278px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  border: 3px solid #FFF;
  background-color: white;
  display: block;
}

.fa-heart {
  font-size: 24px;
  margin-left: -12px;
  margin-top: -10px;
  position: absolute;
  color: #fb4646bd;;
  background-color: transparent;
}

.card-header-date:hover {
  background-color: rgba(250, 250, 250, 1);
  border: 3px solid #d32f2f;
}

.fa-heart:hover {
  color: #e53935;
}

.card-body {
  background-color: #FFF;
  border-radius: 0 0 6px 6px;
  padding: 0 21px 21px 21px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.card-body-header {
  width: 328px;
  position: absolute;
  left: 0;
  padding: 13px;
  background-color: #FFF;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.card:hover .card-body-header {
  margin-top: -90px;
}

h3 {
  margin-top: -8px;
  font-family: 'Andika', sans-serif;
  color: #3f4040;
  font-size: 17px;
  font-weight: bold;
}

.card-body-header-sentence {
  font-family: 'Andika', sans-serif;
  color: #EF5A31;
  margin-top: 2px;
  margin-bottom: 4px;
  font-size: 15px;
  font-weight: bold;
}

.card-body-description {
  opacity: 0;
  color: #757B82;
  line-height: 25px;
  margin-top:5px;
  height:80px;
  overflow: scroll;
  font-size: 13px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.card:hover .card-body-description {
  opacity: 1;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.card-body-footer {
  position: relative;
  z-index: 10;
  margin-top: 15px;
  font-size: 14px;
  color: #9FA5A8;
}

.card-body-footer {
  display: flex;
  justify-content: space-between;
}

.fa-map-marked-alt, .fa-comment-dots {
  font-size: 15px;
  font-size: 15px;
}

.comments {
  text-decoration: none;
  color: #9FA5A8;
}

.comments:hover {
  color: #d32f2f;
}

/* -----------------------------------Media------------------------------------- */

@media screen and (max-width: 560px) {
  .restaurant_list {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 410px) {
  .restaurant_list {
    font-size: 2.0em;
  }
    .card-header img{
        width: 300px;
    }
    .card{
        width: 302px;
        margin: 0 0 10px 0;
    }
    .card-header,.card-body-header{
        width: 300px;
    }
    .card-header-date{
      width: 35px;
      height: 35px;
      margin: -212px -0 0 257px;
    }
    .fa-heart {
    font-size: 23px;
    margin-left: -11.5px;
    margin-top: -10px;
    }
}
