<!DOCTYPE html>
<html lang="fr" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DriveEat</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/css/uikit.min.css" />  
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	
	<link rel="stylesheet" th:href="@{/css/layout_style_v2.css}" />
	<link rel="stylesheet" th:href="@{/css/index_style.css}" />
	<link rel="stylesheet" th:href="@{/css/searchStyle.css}" />
	
	<link href="https://fonts.googleapis.com/css?family=Andika&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">  
	
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	
	<script src="https://kit.fontawesome.com/11eaeeb5ce.js" crossorigin="anonymous"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit-icons.min.js"></script>
	  
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/places.js@1.18.1"></script>
</head>

<body>

  <header th:replace="/fragment/layout_v2.html :: top"></header>

  <!-- ============================================================== -->
  <!-- Home Section -->
  <!-- ============================================================== -->

  <section class="home">
    <div class="center">
      <div data-aos="fade-right" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="1500">
        <div class="alex-brush ">
          <img class="logoHome" src="/images/logo/logoHome.png" alt="Drive eat">
        </div>
      </div>
      <h2>La solution</h2>
      <p>coupe-file</p>
        <div class="container searchClass">
       <input type="search"  id="address-input" placeholder="Entrez votre adresse de livraison" />
         <button class="btn btn-secondary " type="button">
        <i class="fa fa-search"></i>
      </button>
        </div>
      
      <div class="logo_app">
        <div class="apple_google">
          <a href="#" class="apple_logo"><img alt="apple store button" src="/images/logo/apple_app_transparent.png"></a>
          <a href="#" class="google_logo"><img alt="google play button" src="/images/logo/google_app_transparent.png"></a>
        </div>
      </div>

    </div>
  </section>

  <!-- ============================================================== -->
  <!-- With Us -->
  <!-- ============================================================== -->

  <section class="withUs">

    <div id="story" class="light-wrapper">

      <div class="container inner">

        <h1 class="steps_h1 text-center"> Avec Drive-Eat</h1>
        <h3 class="steps_h3 text-center">Vos plats préférés, Commandés en quelques clics!</h3>

        <div class="col-xs-12">

          <div class="row text-center story">

            <div class="col-xs-12 col-sm-6 col-md-3">
              <div data-aos="flip-right" data-aos-duration="3000"> <img class="steps" src="/images/logo/locationLogo.png" alt="logo d'adresse"> </div>
              <div data-aos="zoom-in">
                <h4 class="steps_h4">Je trouve mon restaurant</h4>
                <p class="steps_p">Sélectionner le restaurant et choisissez votre menu </p>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
              <div data-aos="flip-left" data-aos-duration="3000"> <img class="steps" src="/images/logo/payeLogo.png" alt="logo pour reglement"> </div>
              <div data-aos="zoom-in">
                <h4 class="steps_h4">Je régle ma commande</h4>
                <p class="steps_p">Le payement s'éffectue via l'application ou sur place </p>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
              <div data-aos="flip-right" data-aos-duration="3000"> <img class="steps" src="/images/logo/commandLogo.png" alt="logo de préparation de commande"> </div>
              <div data-aos="zoom-in">
                <h4 class="steps_h4">Préparation de la commande</h4>
                <p class="steps_p">Le restaurant prépare votre commande dans les délais indiqués</p>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
              <div data-aos="flip-left" data-aos-duration="3000"> <img class="steps" src="/images/logo/retraitLogo4.png" alt="logo de retrait de commande"></div>
              <div data-aos="zoom-in">
                <h4 class="steps_h4">Je retire ma commande</h4>
                <p class="steps_p">Récupérer votre commande à la borne Drive Eat "coupe-file !"</p>
              </div>
            </div>

          </div>
        </div>
        <!-- /.services -->
      </div>

    </div><!-- #story -->

  </section>

  <!-- ============================================================== -->
  <!-- specialities section -->
  <!-- ============================================================== -->

  <section class="specialities_section">
  
    <h1>Nos Spécialités</h1>
    <div uk-slider="autoplay: true;autoplay-interval:3000">
    	<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" >
			<div class="uk-slider-container uk-light">
      			<ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m uk-grid">
			        <li class="liphoto" th:each="specialities : ${specialities}">
						<div class="card">
						  <div class="card-img">
						
						    <div class="uk-cover-container uk-height-medium">
						      <img th:src="@{'/DriveatBackend/public/' + ${specialities.imagePath}}" alt="" uk-cover>
						    </div>
						
						    <div class="overlay">
						      <div class="overlay-content">
						        <a th:href="|/restaurantSpecialites?id=${specialities.specialityId}|">Séléctionner</a>
						      </div>
						    </div>
						  </div>
						  <div class="card-content">
						    <a href="#">
						      <h2 th:text="${specialities.specialityName}">Italienne</h2>
						    </a>
						  </div>
						</div>
			        </li>
      			</ul>
	  		</div>	
     		<div class="uk-visible@s">
	         	<a class="uk-position-center-left-out uk-position-small" href="#"  uk-slider-item="previous"><i class="fas fa-caret-left"></i></a>
	          	<a class="uk-position-center-right-out uk-position-small" href="#" uk-slider-item="next"><i class="fas fa-caret-right"></i></a>
			</div>
    	</div>
    </div>

  </section>

  <!-- ============================================================== -->
  <!-- Customer_benefit -->
  <!-- ============================================================== -->

  <section class="customer_benefit">

    <div class="benefit_div">
      <img src="/images/logo/client_benefit.png" alt="logo des avantages clients">
      <div class="benefit_p">
        <div data-aos="zoom-in-up" data-aos-duration="2000">
          <h1>Nos avantages clients</h1>
          <p><span> &#10004; </span> Eviter la file d'attente et le stress aux heures de pointe</p>
          <p><span> &#10004; </span> Accéder à une Offre diversifiée de restaurants</p>
          <p><span> &#10004; </span> Ne perdez plus votre temps : choisissez l'heure de retrait</p>
          <p><span> &#10004; </span> Commandez n'importe où dans les meilleures conditions</p>
        </div>
      </div>
    </div>

  </section>

  <!-- ============================================================== -->
  <!-- Sponsor_section -->
  <!-- ============================================================== -->

  <section class="sponsor_section">
    <h1>Nos Partenaires</h1>
    <div class="div_map_total">
      <div data-aos="zoom-in-up" data-aos-duration="2000">
        <div class="div_map">
          <iframe src="https://www.google.com/maps/d/embed?mid=1LxsId7CdaZH1_rMxnJr3_AtA9Tn5dT1w" style="border:0"></iframe>
        </div>
      </div>
      <div class="div_text">
        <p>+ de 40 partenaires nous font confiance, tentez l’expérience en téléchargent notre application </p>


        <div class="apple-google">
          <a href="#" class="apple-logo"><img alt="apple store button" src="/images/logo/apple_app_transparent.png"></a>
          <a href="#" class="google-logo"><img alt="google play button" src="/images/logo/google_app_transparent.png"></a>
        </div>


      </div>

      <div data-aos="zoom-in-up" data-aos-duration="2000">
        <img class="phone-gif" src="/images/gif/phone-gif.gif" alt="smartphone gif">
      </div>
    </div>
  </section>

  <footer class="footer" th:replace="/fragment/layout_v2.html :: bottom"></footer>

  <script>
    $(document).ready(function() {

      $('.card').delay(1800).queue(function(next) {
        $(this).removeClass('hover');
        $('a.hover').removeClass('hover');
        next();
      });
    });
    
    <!-- Effets JS AOS -->   
    AOS.init({    });
  </script>
  <script>
  const reconfigurableOptions = {
  		  language: 'fr', // Receives results in German
  		  countries: ['fr'], // Search in the United States of America and in the Russian Federation
  		  type: 'address', // Search only for cities names
  		  aroundLatLngViaIP: false // disable the extra search/boost around the source IP
  		};
    var placesAutocomplete = places({
  	  appId: 'pl6V08HVHVMN',
  	  apiKey: '74e6f64eaa696bd5faf17353321305aa',
  	  container: document.querySelector('#address-input')
  	}).configure(reconfigurableOptions);;

</script>

</body>

</html>