<!DOCTYPE html>
<html lang="fr" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>DriveEat Mentions légales</title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	
	<link rel="stylesheet" th:href="@{/css/layout_style_v2.css}" />
	<link rel="stylesheet" th:href="@{/css/legal_notice_style.css}" />
	
	<link href="https://fonts.googleapis.com/css?family=Andika&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">  
	
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	
	<script src="https://kit.fontawesome.com/11eaeeb5ce.js" crossorigin="anonymous"></script>

</head>

<body>

  <header th:replace="/fragment/layout_v2.html :: top"></header>
  
  <section>
    
    <div class="h1-container-total">
      <div class="h1-container">
        <h1>Mentions légales</h1>
        
        <div class="legal-notice_total">
        	<div class="legal-notice_img">
        		<img src="/images/logo/logoDriveEatFooter.png" alt="logo DriveEat">
        		<h3>Editeur du site</h3>
        		<p>
        		<b>DRIVE EAT</b><br>
        		SAS au capital de 60 000€<br>
        		<b>Siège social :</b> 1 Avenue du Champ de Mars, 45074 Orléans Cedex 2
        		RCS Orléans 878 119 148<br>
        		<b>Téléphone :</b> 07 60 13 21 84<br>
        		<b>Adresse E-mail :</b> <a href="contact" target="-blank">contact@drive-eat.fr</a><br>
        		<b>Directeur de la publication :</b> Khalid TALLIH
        		</p>
        	</div>
        	
        	<div class="legal-notice_text">
        		<h3>Hébergeur du site</h3>
        		<p>
        		<b>SAS OVH</b><br>
        		Siège social : 2 Rue Kellermann, 59100 Roubaix<br>
        		Téléphone : 09 72 10 10 07<br>
        		Site Web : <a href="https://www.ovh.com/fr" target="-blank">www.ovh.com</a><br>	
        		</p>
        	</div>
        
        </div>

      </div>
	</div>
	
  </section>
  
  <footer class="footer" th:replace="/fragment/layout_v2.html :: bottom"></footer>

</body>

</html>