<!DOCTYPE html>
<html lang="fr" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DriveEat Connexion</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

  <link rel="stylesheet" th:href="@{/css/layout_style_v2.css}" />
  <link rel="stylesheet" th:href="@{/css/login_page_style.css}" />

  <link href="https://fonts.googleapis.com/css?family=Andika&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>

<body>

  <header th:replace="/fragment/layout_v2.html :: top"></header>

  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">

    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">

          <div class="col-md-5">
            <img src="/images/background/login_background.jpg"  alt="login image" class="login-card-img">
          </div>
          <div class="col-md-7">

            <div class="card-body">
              <div class="success_message">  
               <span th:text="${message}"></span>
              </div>
              <div class="brand-wrapper">
                <img src="/images/logo/logoDriveEat.png" alt="logo" class="logo">
              </div>
              <p class="login-card-description">Se connecter à DriveEat</p>
              <form th:action="@{/connexion}" th:object="${users}" method="POST">
                  <div class="form-group">
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" th:field="*{email}" name="email" id="email" class="form-control" placeholder="Adresse e-mail">
                  </div>
                  <div class="form-group mb-4">
                    <label for="password" class="sr-only">Password</label>
                    <input type="password" th:field="*{password}" name="password" id="password" class="form-control" placeholder="***********">
                  </div>
                  
                  <button class="btn btn-block login-btn mb-4" type="submit">Connexion</button>
                </form>
                <a href="/oublie-password" class="forgot-password-link">Mot de passe oublié ?</a>
                <p class="login-card-footer-text">Vous n’avez pas de compte? <a href="/inscription" class="text-reset">Inscrivez-vous</a></p>
                <nav class="login-card-footer-nav">
                  <a href="/protection-données">Politique de confidentialité</a>
                </nav>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>

  <footer class="footer" th:replace="/fragment/layout_v2.html :: bottom"></footer>

</body>

</html>