<!DOCTYPE html>
<html lang="fr" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Restaurant</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{css/layout_style.css}" />
  <link rel="stylesheet" th:href="@{css/restaurant_style.css}" />

  <link href="https://fonts.googleapis.com/css?family=Andika&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  

</head>

<body>

  <header th:replace="fragment/layout.html :: top"></header>

    <!-- ============================================================== -->
    <!-- Header Section -->
    <!-- ============================================================== -->
    
	  <div class="header_main"></div>
	  <section class="header_section">
	
	    <div class="left_side">
	      <h1>Le Nom du restaurant partenaire</h1>
	      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	      <button class="info_btn">Information</button>
	      <button class="payement_btn" type="button" data-toggle="modal" data-target="#payementModal">Mode de payement</button>
	
	      <div class="opinion_star">
	        <i class="fa fa-star"></i>
	        <i class="fa fa-star"></i>
	        <i class="fa fa-star"></i>
	        <i class="fa fa-star"></i>
	        <i class="fa fa-star"></i>
	      </div>
	    </div>
	
	    <div class="right_side">
	      <div class="right_side_img">
	        <div class="rectangle_circle">
	          <div class="rectangle"></div>
	          <div class="circle"></div>
	        </div>
	        <img src="https://images.unsplash.com/photo-1528137871618-79d2761e3fd5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="">
	      </div>
	
	    </div>
	
	  </section>
	  
		<!-- Modal payement_btn-->

		<div class="modal fade" id="payementModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">Mode de payement</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		        </button>
		      </div>
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		
  <footer class="footer" th:replace="fragment/layout.html :: bottom"></footer>

 

</body>

</html>
