<!DOCTYPE html>
<html lang="fr" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>cherche restaurants</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/css/uikit.min.css" />

  <link rel="stylesheet" th:href="@{/css/layout_style_v2.css}" />
  <link rel="stylesheet" th:href="@{/css/restaurant_style.css}" />
    <link rel="stylesheet" th:href="@{/css/styleRestaurantSpecialites.css}">

  <link href="https://fonts.googleapis.com/css?family=Andika&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit-icons.min.js"></script>

  <script src="https://kit.fontawesome.com/11eaeeb5ce.js" crossorigin="anonymous"></script>

</head>
<body>

  <header th:replace="/fragment/layout_v2.html :: top"></header>
    <!-- ============================================================== -->
    <!-- Menus -->
    <!-- ============================================================== -->

  <section class="formule" id="our_menus">
    <div class="formule_section">
      <h2>Nos Formules</h2>
    </div>
    <div class="container">
    	<div uk-slider="autoplay: true; autoplay-interval:3000;">
			<div class="uk-position-relative">
				<div class="uk-slider-container uk-light">
          			<ul class="uk-slider-items nav nav menu_tab">
          				<li class="nav_item" th:each="specialitie, iter: ${specialities}" >
            				<a th:class="${iter.index == 0 ? 'btn-menu active show' : ' btn-menu '}" data-toggle="tab" th:href="|#M${specialitie.specialityId}|" th:style="${iter.index == 0 ? 'aria-selected:true' : 'aria-selected:false'}" th:text="${specialitie.specialityName}">>Breakfast</a>
          				</li>
      
        			</ul>
      			</div>

	        	<div class="uk-visible@s">
	         		 <a class="uk-position-center-left-out uk-position-small" href="#"  uk-slider-item="previous"><i class="fas fa-caret-left"></i></a>
	          		 <a class="uk-position-center-right-out uk-position-small" href="#" uk-slider-item="next"><i class="fas fa-caret-right"></i></a>
				</div>
      		</div>
      
   		</div>
     <h1 class="restaurant_list">Restaurants à proximité</h1>
      <div class="row menu_container">
        <div class="tab-content col-xl-12" id="myTabContent">

          <div   th:each="specialitie, iter: ${specialities}" th:class="${iter.index == 0 ? 'tab-pane fade active show' : ' tab-pane fade '}" th:id="|M${specialitie.specialityId}|">
            <div class="row single_menu_list">

              <a class="col-md-6 " href="/restaurantSpecialites/restaurants/menu-selection" th:each="nearRestaurant, iter: ${nearRestaurantsList}" th:if="${nearRestaurant.getRestaurantsSpecialities().specialities.getSpecialityId() == specialitie.specialityId}">

                <div class="div_card" >
                  <div class="div_img"></div>
                  <div class="div_body" >
                    <div class="title_price">
                      <h3 th:text="${nearRestaurant.getRestaurantsSpecialities().restaurants.getName()}">Le Nom du menu</h3>
                      <p th:text="|${nearRestaurant.getDistance()} km|">4km</p>
                    </div>
                    <div class="menu_description">
                      <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                  </div>
                </div>

              </a>
           
          </div>
         </div>

        </div>
      </div>
       
  
		
  <footer class="footer" th:replace="/fragment/layout_v2.html :: bottom"></footer>


</body>
</html>